.todo-container{
    background-color: #152431;
    max-width: 500px;
     width: 500px;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     text-align: center;
     padding: 10%;
     height: 600px;
     border-radius: 6px;
     box-shadow: 0 8px 27px rgba(0, 0, 0, 0.244);

}

.todo-container h1{
    color: #8FA8C1;
    padding: 10px;
    margin: 5px;
    outline: none;
}